/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
}

.rojo {
  color: rgb(255, 0, 0);
  /* -webkit-text-stroke: 2px black; */
  /* box-shadow: 0 0 40px; */
  text-shadow: -2px 1px 3px black;
}
.verde {
  color: green;
}

body {
  background: rgb(255, 72, 215);
}

p {
  /* text-shadow: -2px 1px 3px black; */
  color: yellow;
}
